
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>登录</title>#}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#            <div class="col">#}
{#                <form class="form-login" action="/api/login/" method="post">#}
{#                {% if login_form.captcha.errors %}#}
{#                    <div class="alert alert-warning">{{ login_form.captcha.errors }}</div>#}
{#                {% elif message %}#}
{#                    <div class="alert alert-warning">{{ message }}</div>#}
{#                {% endif %}#}
{##}
{#                  {% csrf_token %}#}
{#                  <h3 class="text-center">密码登录</h3>#}
{##}
{#                  <div class="form-group">#}
{#                    {{ login_form.user_phone.label_tag }}#}
{#                    {{ login_form.user_phone}}#}
{#                      {{ error.user_phone.0 }}#}
{#                  </div>#}
{##}
{#                  <div class="form-group">#}
{#                    {{ login_form.user_password.label_tag }}#}
{#                    {{ login_form.user_password }}#}
{#                      {{ error.user_password.0 }}#}
{#                  </div>#}
{##}
{##}
{#                  <div class="form-group">#}
{#                    {{ login_form.captcha.label_tag }}#}
{#                    {{ login_form.captcha }}#}
{#                  </div>#}
{##}
{#                  <div>#}
{#                      <a href={% url 'update_pwd' %}>忘记密码？</a>#}
{#                      <a href={% url 'register' %} ><ins>还没有账号？新用户注册</ins></a>#}
{#                      <button type="submit" >登录</button>#}
{#                  </div>#}
{#                </form>#}
{#            </div>#}
{#    </div> <!-- /container -->#}
{##}
{##}
{#</body>#}
{#</html>#}
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js"></script>
    <link href="//cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
 <!-- 导入 CSS 样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 导入Vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>欢迎登陆|人才招聘</title>
<style>
    <!-- css代码 -->
.pannel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1502;
  background-color: rgba(0, 0, 0, 0.7);
}
.pannel-inner {
  position: absolute;
  background-color: white;
  left: 40%;
  top: 30%;
  width: 20%;
  /* border: solid #409eff 1px; */
  padding: 0 17px 17px 17px;
  font-size: 18px;
}
.pannel-header {
  margin-bottom: 7px;
  text-align: center;
}
</style>
</head>


<body>

   <div id="pwd" >
    <el-row>
      <el-col :xs="24" :sm="11" :md="8" :lg="9" :xl="8">
        <h3 style="text-align: center;">修改密码</h3>
        <el-form :model="pwdForm"  :rules="rules" ref="pwdForm" label-width="100px" id="demo-registerForm" class="demo-registerForm">
          <el-form-item label="密码" prop="password">
            <el-input type="password" v-model="pwdForm.password" autocomplete="off" show-password clearable></el-input>
          </el-form-item>
            <el-form-item label="确认密码" prop="repassword">
            <el-input type="password" v-model="pwdForm.repassword" autocomplete="off" show-password clearable></el-input>
          </el-form-item>
            <el-form-item label="邮箱" prop="user_email">
            <el-input type="text" v-model="pwdForm.user_email" autocomplete="off" clearable></el-input>
          </el-form-item>
           <el-form-item label="邮箱验证码" prop="code">
                <el-input  v-model="pwdForm.code" autocomplete="off" clearable></el-input>
            <el-button v-show="show" @click="sendEmail" class="send_email">获取验证码</el-button>
               <el-button v-show="!show" class="count">([[count]]s)后重新发送 </el-button>
                </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="update('pwdForm')">更改</el-button>
            <el-button @click="resetPwdFormForm('pwdForm')">重置</el-button>
               <el-button @click="toLogin()">登录</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </el-row>
  </div>
<script>

    var pwdUpdateVue=new Vue(
    {
        el:'#pwd',
        data()
        {

              var validatePass2 = (rule, value, callback) => {
                    if (value === '') {
                        callback(new Error('请再次输入密码'));
                    } else if (value !== this.pwdForm.password) {
                        callback(new Error('两次输入密码不一致!'));
                    } else {
                        callback();
                    }
                };
              var checkEmail = (rule, value, callback) => {
                const mailReg = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/
                if (!value) {
                  return callback(new Error('邮箱不能为空'))
                }
                setTimeout(() => {
                  if (mailReg.test(value)) {
                    callback()
                  } else {
                    callback(new Error('请输入正确的邮箱格式'))
                  }
                }, 100)
              }
              return{
                 pwdForm:
                 {
                      password: '',
                      repassword: '',
                     user_email:'',
                      code:'',
                 },
                rules:
                {
                  password: [{ required: true, message: '请进行邮箱验证', trigger: 'blur' },
                      { min: 6, max: 20, message: '请输入6-20位字符', trigger: 'blur' }],
                  repassword: [{ required: true, message: '请进行邮箱验证', trigger: 'blur' },
                  { min: 6, max: 20, message: '请输入6-20位字符', trigger: 'blur' },
                      {   validator: validatePass2,   trigger: 'blur'      }],
                    user_email: [ { validator: checkEmail, trigger: 'blur' }  ],
                     code: [ { required: true, message: '请进行邮箱验证', trigger: 'blur' } ],
                },
                  show: true,
                    count: '',
                    timer: null,
            }
        },
    methods: {
            toLogin()
            {
                window.location.href='api/login/';
            },

               sendEmail(){
                $.ajax({
                  url:"/api/send_email/",
                  type:"post",
                  headers:{"X-CSRFToken":$.cookie('csrftoken')},
                  data:{
                    user_email:pwdUpdateVue.pwdForm.user_email
                  },
                  success:function (data) {
                    if(data.code=='0') {
                        pwdUpdateVue.$message.warning(data.msg);
                    }
                  }
                })
                 this.setTime();//异步
            },

        setTime() {
            const TIME_COUNT = 60;
            if (!this.timer) {
                this.count = TIME_COUNT;
                this.show = false;
                this.timer = setInterval(() => {
                    if (this.count > 0 && this.count <= TIME_COUNT) {
                        this.count--;
                    } else {
                        this.show = true;
                        clearInterval(this.timer);
                        this.timer = null;
                    }
                }, 1000)
            }
        },

      update(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
           $.ajax({
              url:"/api/update_pwd/",
              type:"POST",
              headers:{"X-CSRFToken":$.cookie('csrftoken')},
              {#data: $('#demo-loginForm').serialize(),//提示错误#}
              {#data:vm.selected,#}
              data:{user_email:pwdUpdateVue.pwdForm.user_email,user_password:pwdUpdateVue.pwdForm.password,password2:pwdUpdateVue.pwdForm.repassword,code:pwdUpdateVue.pwdForm.code},
              dataType:'JSON',
              success:function (data) {
                  if (data.status === "successful")
                  {
                      window.location.href='api/login/';
                  }
                  else if(data.status === "warning"){
                        pwdUpdateVue.$message.warning(data.errs);
                  }
                  else {
                      var error_list=JSON.parse(data.errs);
                      console.log(error_list)
                      var msg=''
                      for (let key in error_list){
                          msg=msg+key+error_list[key][0].message+";"
                      }
                      pwdUpdateVue.$message.warning(msg);
                  }
              }
           })

          }
          else {
            this.$message.error('修改失败');
            return false;
          }
        });
      },
      resetPwdFormForm(formName) {
        this.$refs[formName].resetFields();
        },

        },


        delimiters: ['[[', ']]']//Django模板与Vue.js 冲突/ 这句可以指定 {[ ]} 为插值表达式的新符号

     })



</script>
</html>